cpath2-mvn/cpath-service/src/main/resources/schemas/error-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="error" type="ErrorType"/>
    
    <xsd:complexType name="ErrorType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Encapsulates error information.s
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="error_code" type="xsd:integer"/>
            <xsd:element name="error_msg" type="xsd:string"/>
            <xsd:element name="error_details" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>