cpath2-mvn/cpath-webdocs/src/main/webapp/resources/schemas/cpath2.xsd.txt

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="help" type="Help"/>

  <xs:element name="searchResponseType" type="SearchResponseType"/>

  <xs:complexType name="ErrorType">
    <xs:sequence>
      <xs:element name="error_code" type="xs:integer"/>
      <xs:element name="error_msg" type="xs:string"/>
      <xs:element name="error_details" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Help">
    <xs:sequence>
      <xs:element name="example" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="info" type="xs:string" minOccurs="0"/>
      <xs:element name="members" type="Help" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="output" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SearchHitType">
    <xs:sequence>
      <xs:element name="uri" type="xs:string"/>
      <xs:element name="actualHitUri" type="xs:string" minOccurs="0"/>
      <xs:element name="biopaxClass" type="xs:string"/>
      <xs:element name="name" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dataSource" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="organism" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="pathway" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="excerpt" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SearchResponseType">
    <xs:sequence>
      <xs:element name="error" type="ErrorType" minOccurs="0"/>
      <xs:element name="searchHit" type="SearchHitType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="numHitsBeforeRefined" type="xs:int"/>
    <xs:attribute name="pageNo" type="xs:int"/>
  </xs:complexType>
</xs:schema>

